<div class="card">
  <div class="card-header">
    <h5>Usuarios</h5>
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of listUsers">
        <td>{{user.username}}</td>
        <td>{{user.firstName}} {{user.secondName}}</td>
        <td>{{user.firstLastName}} {{user.secondLastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <button type="button" class="btn btn-primary button-margin">
            <i-tabler
              class="routeIcon"
              name="eye-search"
              matListItemIcon
            ></i-tabler>
          </button>
          <button type="button" class="btn btn-warning button-margin">
            <i-tabler
              class="routeIcon"
              name="edit"
              matListItemIcon
            ></i-tabler>
          </button>
          <button type="button" class="btn btn-danger button-margin">
            <i-tabler
            class="routeIcon"
            name="trash"
            matListItemIcon></i-tabler>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
